arandr==0.1.7.1
autobahn==0.10.3
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bleach==1.5.0
blinker==1.3
ceph-detect-init==1.0.1
ceph-disk==1.0.0
cephfs==0
cffi==0.8.6
characteristic==0.1.0
chardet==2.3.0
cryptography==0.6.1
cycler==0.10.0
decorator==4.2.1
deluge==1.3.10
enum34==1.1.6
Flask==0.10.1
funcsigs==1.0.2
futures==3.2.0
GDAL==1.10.1
graphviz==0.8.2
h5py==2.7.1
html5lib==0.9999999
iotop==0.6
itsdangerous==0.24
Jinja2==2.7.3
Keras==2.1.5
kiwisolver==1.0.1
lxml==3.4.0
lz4==0.7.0
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.2.2
meld==3.12.1
mercurial==3.1.2
mock==2.0.0
mpi4py==1.3.1
msgpack-python==0.4.6
ndg-httpsclient==0.3.2
netifaces==0.10.4
networkx==2.1
nose==1.3.4
numpy==1.14.2
PAM==0.4.2
pbr==4.0.1
Pillow==2.6.1
ply==3.4
protobuf==3.5.2.post1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycups==1.9.63
pydot==1.2.4
pygame===1.9.1release
Pygments==2.0.1
pygobject==3.14.0
pyinotify==0.9.4
PyOpenGL==3.0.2
pyOpenSSL==0.14
pyparsing==2.2.0
pyserial==2.6
python-dateutil==2.7.2
python-libtorrent==0.16.18
python-lzo==1.8
python-snappy==0.5
pytz==2018.3
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.11
pyzmq==14.4.0
rados==0
rbd==0
rencode==1.0.5
requests==2.11.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
service-identity==1.0.0
six==1.11.0
subprocess32==3.2.7
tensorboard==1.8.0
tensorflow-gpu==1.4.1
tensorflow-tensorboard==0.4.0
trollius==2.0.1
Twisted==16.2.0
txaio==1.0.0
urllib3==1.16
vboxapi==1.0
virtualenv==15.0.1
websockify==0.6.0
Werkzeug==0.14.1
xxhash==1.0.1
zope.interface==4.1.1
